<section class="vh-50">
    <div class="container-fluid h-100">
      <div class="row h-50 g-0 d-flex mt-5 mx-2">
  
        <!-- Left Section -->
        <div class="col-md-6 d-flex align-items-center bg-dark text-white p-5">
          <div>
            <h2 class="mb-4">Find Your Porsche Center</h2>
            <p class="mb-4">
              A Porsche Center, and your dream Porsche vehicle, may be closer than you think.
              Search our Porsche Center network for the location closest to you.
            </p>
            <a class="btn btn-light rounded-4" routerLink="/dealership">Search now</a>
          </div>
        </div>
  
        <!-- Right Section -->
        <div class="col-md-6 p-0">
          <img src="/Assets/porscheCenter.jpg" class="w-100 h-100 object-fit-cover" alt="Porsche Center">
        </div>
  
      </div>
    </div>
</section>