<footer class="bg-dark text-white text-center mt-5">

    <div class="container p-4">
      
      <section class="mb-4">

        <div class="col-auto">
            <p class="pt-2">
              <strong>Find us on social media</strong>
            </p>
        </div>
      
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 text-white" href="https://www.facebook.com/porsche" target="_blank" onclick="window.open(this.href, '_blank')" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 text-white" href="https://twitter.com/Porsche" target="_blank" onclick="window.open(this.href, '_blank')" role="button"
          ><i class="fa-brands fa-x-twitter"></i
        ></a>

        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 text-white" href="https://www.pinterest.com/porsche" target="_blank" onclick="window.open(this.href, '_blank')" role="button"
          ><i class="fab fa-pinterest"></i
        ></a>
  
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 text-white" href="https://www.instagram.com/porsche/" target="_blank" onclick="window.open(this.href, '_blank')" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
      </section>
 
      <section>
        
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Porsche Related</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-white"  style="text-decoration: none;" routerLink="/home">Home</a>
              </li>
              <li>
                <a class="text-white"  style="text-decoration: none;" routerLink="/models">Models</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Services</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-white"  style="text-decoration: none;" routerLink="/dealership">Dealerships</a>
              </li>
              <li>
                <a class="text-white"  style="text-decoration: none;" routerLink="/testdrive">Test Drive</a>
              </li>
              <li>
                <a class="text-white"  style="text-decoration: none;" routerLink="/parts">Parts</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Careers</h5>
  
            <ul class="list-unstyled mb-0">
                <li>
                  <a class="text-white"  style="text-decoration: none;" routerLink="/jobs">Jobs</a>
                </li>
                <li>
                  <a class="text-white"  style="text-decoration: none;" routerLink="/internships">Internships</a>
                </li>
              </ul>
          </div>
        </div>
      </section>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2025 Copyright:
      <a class="text-reset fw-bold" href="https://porsche.com/">Porsche.com</a>
    </div>
  
  </footer>
