:host {
    display: block;
    background-color: #1e1e1e;
    color: #ffffff;
    height: 100vh;
  }
  
  .form-control {
    background-color: #1e1e1e;
    border: 1px solid #555;
    color: #fff;
  
    &:focus {
      background-color: #1e1e1e;
      color: #fff;
      border-color: #2563eb;
    }
  }
  
  .form-label {
    color: #aaa;
  }
  
  .form-check-label,
  a {
    color: #cfcfcf;
  }
  
  .divider {
    &:before,
    &:after {
      content: "";
      flex: 1;
      height: 1px;
      background: #444;
    }
  
    p {
      color: #888;
    }
  }

:host ::ng-deep #username::placeholder {
    font-size: 0.8em;
    font-weight: 400;
    color: #aaa;
}  

:host ::ng-deep #email::placeholder {
    font-size: 0.8em;
    font-weight: 400;
    color: #aaa;
}

:host ::ng-deep #password::placeholder {
    font-size: 0.8em;
    font-weight: 400;
    color: #aaa;
}

:host ::ng-deep #confirmPassword::placeholder {
  font-size: 0.8em;
  font-weight: 400;
  color: #aaa;
}