<section class="background-radial-gradient overflow-hidden">

    <div class="container px-4 py-5 px-md-5 text-start">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Schedule a Test Drive <br />
            <span style="color: hsl(218, 81%, 75%)">to feel the power.</span>
          </h1>
          <p class="mb-4" style="color: hsl(218, 81%, 85%)">
            After completing the form, a member of our team will be in touch with you shortly. 
            If you would like to speak to someone and learn more about how we can help, 
            please don't hesitate to reach out to a member of our team.
          </p>
          
          <!-- <div style="height: 60px;"></div> -->
        
          <div class="mt-5">
            <h1 class="fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">Already scheduled one?</h1>
            <button class="btn btn-primary" (click)="viewTestDriveDetails()">
              View Details <i class="bi bi-arrow-down"></i> 
            </button>            
          </div>

        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">

              <form (ngSubmit)="onSubmit(testDriveForm)" #testDriveForm="ngForm">

                <div class="col-md-6 mb-4">
                    <label class="form-label text-white" for="fullname">Full Name</label>
                    <input type="text" name="fullname" #fullname="ngModel" ngModel required maxlength="20" minlength="3" id="fullname" class="form-control" placeholder="First and Last Name"/>
                    <div *ngIf="fullname.touched && fullname.errors">
                        <small class="text-danger fw-bold" *ngIf="fullname.errors['required']">Name is required</small>
                        <small class="text-danger fw-bold" *ngIf="fullname.errors['minlength']">Name must be at least 3 characters</small>
                        <small class="text-danger fw-bold" *ngIf="fullname.errors['maxlength']">Name cannot exceed 20 characters</small>
                    </div>
                </div>
                
                <div class="col-md-6 mb-4">
                    <label class="form-label text-white" for="email">Email</label>
                    <input type="email" name="email" #email="ngModel" ngModel required email id="email" class="form-control" placeholder="e.g. example@email.com"/>
                    <div *ngIf="email.touched && email.errors">
                        <small class="text-danger fw-bold" *ngIf="email.errors['required']">Email is required</small>
                        <small class="text-danger fw-bold" *ngIf="email.errors['email']">Invalid email format</small>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <label class="form-label text-white" for="phonenumber">Phone Number</label>
                    <input type="text" name="phonenumber" #phonenumber="ngModel" ngModel required [pattern]="phonePattern" id="phonenumber" class="form-control" placeholder="(e.g. +01234567890)"/>  
                    <div *ngIf="phonenumber.touched && phonenumber.errors">
                        <small class="text-danger fw-bold" *ngIf="phonenumber.errors['required']">Phone number is required</small>
                        <small class="text-danger fw-bold" *ngIf="phonenumber.errors['pattern']">Please enter a valid 11-digit phone number</small>
                    </div>
                </div>
  
                <div class="col-md-6 mb-4">
                    <label class="form-label text-white" for="models">Vehicle Model</label>
                    <select id="models" name="models" #model="ngModel" [(ngModel)]="defaultSelectionDD1" required class="form-select">
                      <option value="">Select Model</option>
                      <option value="718 Cayman">718 Cayman</option>
                      <option value="718 Boxster">718 Boxster</option>
                      <option value="718 Boxster S">718 Boxster S</option>
                      <option value="911 Carrera">911 Carrera</option>
                      <option value="911 Carrera S">911 Carrera S</option>
                      <option value="911 Turbo">911 Turbo</option>
                      <option value="911 Turbo S">911 Turbo S</option>
                      <option value="Taycan">Taycan</option>
                      <option value="Taycan GTS">Taycan GTS</option>
                      <option value="Taycan Turbo">Taycan Turbo</option>
                      <option value="Panamera">Panamera</option>
                      <option value="Macan">Macan</option>
                      <option value="Macan S">Macan S</option>
                      <option value="Cayenne">Cayenne</option>
                      <option value="Cayenne Coupe">Cayenne Coupe</option>
                      <option value="Cayenne S">Cayenne S</option>
                    </select>
                    <div *ngIf="model.touched && model.errors">
                        <small class="text-danger fw-bold" *ngIf="model.errors['required']">Please select a vehicle model</small>
                    </div>
              </div>

                <div class="col-md-6 mb-4">
                    <label class="form-label text-white" for="year">Model Year</label>
                    <select id="year" name="year" #year="ngModel" [(ngModel)]="defaultSelectionDD2" required class="form-select">
                      <option value="">Select Year</option>
                      <option value="2025">2025</option>
                      <option value="2024">2024</option>
                      <option value="2023">2023</option>
                    </select>
                    <div *ngIf="year.touched && year.errors">
                        <small class="text-danger fw-bold" *ngIf="year.errors['required']">Please select a model year</small>
                    </div>
                </div>

                
                <button type="submit" class="btn btn-primary mt-1" [disabled]="!testDriveForm.valid" data-bs-toggle="modal" data-bs-target="#myModal">
                  Register
                </button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
