<div class="container mt-5 text-center" *ngIf="isLoading">
  <div class="spinner-border text-primary" role="status"></div>
</div>

<div class="container mt-5" *ngIf="!isLoading && errorShown">
  <div class="alert alert-danger text-center w-50 mx-auto mt-2">
    <h1>Error fetching data.</h1>
  </div>
</div>

<div class="container-fluid mt-2 px-3" *ngIf="!isLoading && !errorShown && jobsList.length > 0">
    <h2 class="mb-3"> Available Jobs</h2>
    <table class="table border-top table-striped align-middle bg-white w-100">
      <thead class="bg-light">
        <tr>
          <th>Title</th>
          <th>Department</th>
          <th>Location</th>
          <th>Status</th>
          <th>Type</th>
          <th>Applications</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobsList">
          <td>
            <p class="fw-bold mb-1">{{ job.title }}</p>
            <p class="text-muted mb-0">Posted: {{ job.postingDate }}</p>
          </td>
          <td>{{ job.department }}</td>
          <td>{{ job.location }}</td>
          <td>
            <div class="d-flex flex-column align-items-center">
              <span class="badge rounded-pill px-3 py-2" [ngClass]="{
                'bg-success': job.status === 'Open',
                'bg-warning': job.status === 'Almost Full',
                'bg-danger': job.status === 'Completed'
              }" style="width: fit-content;">
                {{ job.status }}
              </span>
              <small class="text-muted">{{ getStatusMessage(job.applicantsCount || 0) }}</small>
            </div>  
          </td>
          <td>{{ job.type }}</td>
          <td>
            <button class="btn" 
                    [ngClass]="{
                      'btn-primary': !hasAppliedToJob(job.id) && job.status !== 'Completed',
                      'btn-secondary': hasAppliedToJob(job.id),
                      'btn-danger': job.status === 'Completed'
                    }"
                    [disabled]="hasAppliedToJob(job.id) || job.status === 'Completed'"
                    (click)="applyForJob(job)">
              {{ hasAppliedToJob(job.id) ? 'Applied' : 'Apply' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container mt-5" *ngIf="!isLoading && !errorShown && jobsList.length === 0">
  <div class="alert alert-danger text-center w-50 mx-auto mt-2">
    <h1>No internships available.</h1>
  </div>
</div>
