<div class="mt-5">
    <video src= "Assets/Working at Porsche - What Is It Like_.mp4" width=" 100%" height="500" controls [autoplay]="autoplay" [muted]="muted" >
    </video>
  </div>

  <!-- <button class="btn btn-primary" (click)="addJob()">Add Job</button> -->
  
  <div class="container mt-5 align-items-center mb-5">
    <div class="text-center mx-auto" style="max-width: 600px;">
      <p class="lead mb-1 fw-bold">Together for excellence.</p>
      <p class="fs-5">Becoming part of Porsche means finding your individual role and workspace to unleash your talents to the fullest.</p>
  </div>
</div>