<div class="container-fluid p-0 mt-5 position-relative" style="height: 80vh;">
    <img src="/Assets/internmain.jpg" alt="Internship" class="img-fluid w-100 h-100 object-fit-cover">
    <div class="position-absolute bottom-0 start-0 text-dark p-4" style="background-color: rgba(255,255,255,0.2);">
        <h1 class="display-3 fw-bold">Internship Opportunities</h1>
        <p class="lead">Join our team and accelerate your career</p>
    </div>
</div>

<!-- <button class="btn btn-primary" (click)="addInternship()">Add Internship</button> -->

<section class="vh-50">
    <div class="container-fluid h-100">
      <div class="row h-50 g-0 d-flex mt-5 mx-2">
  
        <!-- Left Section -->
        <div class="col-md-6 d-flex align-items-start text-dark fs-5 pt-5 px-5" >
          <div> 
            <h2 class="mb-4 fw-bold">We offer</h2>
            <ul class="list-unstyled">
              <li class="mb-3">• Task-oriented internships for 3 to 6 months</li>
              <li class="mb-3">• It is possible to work remotely or from home as part of the internship for up to twelve days per month and in consultation with your superior.</li>
              <li class="mb-3">• Flexible start: the internship can start at virtually any time</li>
              <li class="mb-3">• The weekly working time is 35 hours per week.</li>
            </ul>
          </div>
        </div>
  
        <!-- Right Section -->
        <div class="col-md-6">
          <img src="/Assets/internship.jpg" class="w-100 h-75 object-fit-cover rounded-5" alt="Porsche Internship">
        </div>
      </div>
    </div>
</section>