.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: url('/Assets/testdrive.jpg');
    background-size: cover;            
    background-position: center center;
    background-repeat: no-repeat;      
  
  }

  .bg-glass {
    background-color: rgba(255, 255, 255, 0.15) !important; /* Lighter and more transparent */
    backdrop-filter: blur(1px) saturate(150%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
}
  