<div class="container-fluid m-4 ">
    
    <div class="m-4">
      <div class="btn-group" role="group">
        <button *ngFor="let category of categoriesList" 
                type="button" 
                class="btn btn-dark rounded-pill ms-2 hover-effect"   
                [class.bg-white]="selectedCategory !== category"
                [class.text-dark]="selectedCategory !== category"
                [class.hover-white]="selectedCategory !== category"
                (click)="filterByCategory(category)">
          {{ category }}
        </button>
      </div>
    </div>
  
    <div class="row m-5">
      <div class="col-md-3 mb-5" *ngFor="let part of filteredParts">
        <div class="card h-100 bg-dark text-white">

          <img [src]="part.photo" class="card-img-top w-100" style="height: 200px; object-fit: cover;" [alt]="part.name">

          <div class="card-body">

            <h5 class="card-title">{{ part.name }}</h5>

            <h6 class="card-subtitle mb-2 text-muted">
              <span class="badge bg-secondary rounded-pill">{{ part.category }}</span>
              <span class="badge ms-2 rounded-pill" [ngClass]="part.availability ? 'bg-success' : 'bg-danger'">
                {{ part.availability ? 'In Stock' : 'Out of Stock' }}
              </span>
            </h6>

            <p class="card-text"><strong>Description:</strong> <br>{{ part.description }}</p>

            <p class="card-text"><strong>Price:</strong> {{ part.price | currency:'USD':'symbol':'1.1-2'}}</p>

            <ng-template [ngIf]="part.availability">
              <p class="card-text"><strong>Available in:</strong> <br> <small>{{ getStoreNames(part.stores) }}</small></p>
            </ng-template>

            <ng-template [ngIf]="!part.availability">
              <p class="card-text text-danger fw-bold mt-5">Not available in any store</p>
            </ng-template>

          </div>

          <div class="card-footer bg-transparent">
            <button class="btn btn-secondary" [disabled]="!part.availability" routerLink="/dealership">
              Check Stores <i class="bi bi-arrow-right"></i> 
            </button>
          </div>

        </div>
      </div>
    </div>
</div>